*_lexer.c
*_lexer.h
*_parser.c
*_parser.h
???
examples/fsm_bnf/v2
examples/fsm_bnf/v2.html
examples/fsm_bnf/v2.svg
examples/fsm_bnf/v2_parser.dot
examples/fsm_bnf/v2_parser.xml
examples/fsm_bnf/vending
examples/fsm_bnf/vending.html
examples/fsm_bnf/vending.svg
examples/fsm_bnf/vending_parser.dot
examples/fsm_bnf/vending_parser.xml
examples/automake_template/Makefile
examples/automake_template/aclocal.m4
examples/automake_template/autom4te.cache/
examples/automake_template/compile
examples/automake_template/config.guess
examples/automake_template/config.log
examples/automake_template/config.status
examples/automake_template/config.sub
examples/automake_template/configure
examples/automake_template/depcomp
examples/automake_template/include/config.h
examples/automake_template/include/stamp-h1
examples/automake_template/include/version.h
examples/automake_template/install-sh
examples/automake_template/libtool
examples/automake_template/ltmain.sh
examples/automake_template/missing
examples/automake_template/ylwrap
examples/locations/vendfn
examples/locations/vending
examples/structures/testast
examples/structures/testhash
examples/structures/teststack
